<a href="/expenses/create">New expense</a>
<h2>{{totalAmount}}</h2>
<ul>
  {{#forEach categories}}
  <li><a href="/?category={{categoryName}}">{{categoryName}}</a></li>
  {{/forEach}}
</ul>
<ul>
  {{#forEach records}}
    <li>
      <p>{{categoryId.categoryIcon}}</p>
      <h3>{{name}}</h3>
      <p>{{categoryId.categoryName}}</p>
      <p>{{date}}</p>
      <p>{{amount}}</p>
      <a href="/expenses/{{_id}}/edit">edit</a>
      <form action="/expenses/{{_id}}?_method=DELETE" method="post" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  {{/forEach}}
</ul>
