<a href="/expenses/create">New expense</a>
<ul>
  {{#forEach records}}
    <li>
      <p>{{categoryId.categoryIcon}}</p>
      <h3>{{name}}</h3>
      <p>{{categoryId.categoryName}}</p>
      <p>{{date}}</p>
      <p>{{amount}}</p>
    </li>
  {{/forEach}}
</ul>
